
<div class="container-fluid">
    <div class="row" >
    <div class="col-sm-6" style="background-color: antiquewhite;">
    <div class="text-center">
        <h2>Đăng Nhập</h2> 
        <div class="d-flex justify-content-center"> 
        <input type="text" placeholder="Email/SĐT" class="input" ng-model="us.mail">
        </div>
        <div class="d-flex justify-content-center">  
        <input type="password" placeholder="password" class="input" ng-model="us.pass">
        </div>
        <p>Forgot your password ?</p>
        <div class="btn">
        <button ng-click="login()">Đăng Nhập</button>
        </div>
        <div class="col-sm-8">
            <div class="row ">
                <div class="col-sm-6">  
                </div>
                <div class="col-sm-3">
                    <a href="https://id.zalo.me/account?continue=https%3A%2F%2Fchat.zalo.me%2F">
                        <img class="social img-fluid" src="/Canifa/img/icon-facebook.png" alt=""> 
                     </a> 
                </div>
                <div class="col-sm-3">
                    <a href="https://www.facebook.com/canifa.fanpage">
                        <img class="social img-fluid" src="/Canifa/img/icon-zalo.png" alt=""> 
                    </a>           
                </div>
            </div>      
        </div>
    </div>
    </div>
    <div class="col-sm-6" style="background-color: rgb(186, 73, 92);">
    <div class="text-center">
    <h2>Hello,Friend !</h2>
    <p>Nhập thông tin của bạn và bắt đầu mua sắm </p>  
    <div class="btn">
        <button ng-click="res()">Đăng Ký</button>
    </div>
        </div> 
    </div>
</div>
</div>
<br>